*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: black;
}
/*mainlogo*/
#mainlogo{
    position: fixed;
    width: 200px;
    object-fit: cover;
    object-position: end;
    overflow: hidden;
}

/*moto line*/
#content1{
    width: 100%;
    height: 400px;
    font-size: 30px;
    background-color:black;
    padding: 150px;
    color: aliceblue;
}
.move:hover{
    color: #ffd025;
}
.move{
    font-size: 20px;
    width: 150px;
    height: 50px;
    overflow: hidden;
    word-spacing: 150px;
}
/*image of home page*/
.content2{
    width: 100%;
    height:700px ;
    background-color: black;
}
.content2 img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
}
/*product display with cheak out button*/
.content3{
    width: 100%;
    height: 1200px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    background:linear-gradient(to top,#FFF225, #3C3C3C, #FFF225);
}

.left3{
    width:50%;
}

.right3{
    width:50%;
    height: 900px;
    margin-top: 15%;
}
.right3 .element{
    margin-top: 50px;
}

.element{
    width: 100%;
    height: 50%;
}
.content3 button{
    border-radius: 15px;
    padding: 5px 20px;
    border: 2px solid;
    margin: 5% 40%;
    background-color: #3C3C3C;
    color: aliceblue;
    
}
button:hover{
    background-color: #ffd025;
    font-weight: 5px;
    color: black
}

.content3 img{
    height: 350px;
    object-fit: cover;
    
}

/*rotating*/
.content4{
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background:linear-gradient(to top, black, #3C3C3C);
    padding-top: 200px;
    padding-bottom: 200px;

}

.slider{
    position: relative;
    width: 250px;
    height: 350px;
    transform-style:preserve-3d ;
    animation: rotate 30s linear infinite;

}

@keyframes rotate {
    0%{transform: perspective(1000px) rotateY(0deg);}
    
    100%{transform: perspective(1000px) rotateY(360deg);}
}

.slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*75deg)) translateZ(350px);
}

.slider span .slide-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(to top, #3C3C3C,#FFF225);
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}

.slider span:hover .slide-content{
    background:linear-gradient(to top,#FFF225, white);
    transform:translateY(-20px) scale(1.2);
    
}

.slider span:hover .slide-content h2{
    color: #202020;
}
.slider span:hover .slide-content p{
    color: #202020;
}
.slide-content{
    padding: 30px 50px;
}
.slide-content p{
    color: aliceblue;
    font-size: 8px;
    font-weight: 5px;
}
.slide-content h2{
    color: aliceblue;
    font-size: 20px;

}

/*pre-booking button*/
.fix-button{
    position: fixed;
    top:80%;
    left: 85%;
}
.fix-button button{
    padding: 20px 30px;
    border: 3px solid;
    border-color:white;
    background-color: black;
    border-radius: 50px;
    color: aliceblue;

}
.fix-button :hover{
    background-color: #ffd025;
    color: #202020;
}
/*footer*/
.footer{
    width: 100%;
    height: 200px;
    padding:0 200px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid;
    border-color: aliceblue;
    background-color: black;
}

.leftfoot{
    border-top: 1px solid;
    border-color: aliceblue;
}
.leftfoot a{
    display: flex;
    line-height: 40px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 1000;
   
}
.leftfoot a:hover{
    color: #ffd025;
}







/*css for rentals, about us, contact us pages*/
.rent{
    width: 100%;
    height: 100%;
    background-color: black;
    color: aliceblue;
    padding: 200px 300px;
}
.rent button{
    padding: 7px 20px;
    border-radius: 40px;
    color: aliceblue;
    background-color: black;
    border: 2px solid;
}

.rent p{
    padding-top: 100px;
}
.rent .aboutus-img{
    position: absolute;
    top: 10%;
    left: 32%;
    right: 30%;
    width: 500px;
    object-fit: cover;

}
.rent .contactus-ul{
    padding: 0 ;
}
.rent .contactus-ul li:hover{
    color:yellow;
    line-height: 50px;
    font-size: 30px;
}
/*css for pre booking*/

.prebook img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}